{% extends '_base.html' %}

{% load static %}
{% block title %} Home {% endblock %}

{% block css %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
  <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="phone">
    <!-- هدر -->
    <div class="header-1">
        <div class="header-top">
            <button class="icon-btn" aria-label="back">
                <i class="ti ti-arrow-right"></i>
            </button>
            <span class="header-title">Home</span>
            <button class="icon-btn" aria-label="notification">
                <i class="ti ti-bell"></i>
            </button>
        </div>

        <div class="profile-row">
             {% if request.user.is_authenticated %}
            <div class="avatar" style="font-size: small">{{ request.user.username }}</div>
            {% endif %}
            <div class="time-box">
                <p class="time-box-label">Page usage allowed</p>
                <div class="time-stats">
                    <span><i class="ti ti-clock" style="font-size:13px;margin-left:3px"></i></span>
                    <span class="remaining">Usage time: {{ total_usage }} minutes</span>
                </div>
                <div class="progress-bar">
                    <div class="progress-fill"></div>
                </div>
            </div>
        </div>

    <div class="device-status">
    <div class="status-icon">
        <i class="ti ti-device-mobile"></i>
    </div>
    <div style="flex:1">
        <p class="status-label">Chose device</p>
        <select id="deviceSelect" onchange="updateDevice(this)" style="
            width: 100%;
            margin-top: 6px;
            padding: 8px 12px;
            border-radius: 8px;
            border: 1.5px solid #FFC107;
            background: rgba(255,255,255,0.1);
            color: #fff;
            font-size: 13px;
            font-family: 'Vazir', sans-serif;
            cursor: pointer;
            outline: none;
            appearance: none;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='%23FFC107' stroke-width='2'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: left 10px center;
        ">
            {% for device in devices %}
                <option value="{{ device.id }}" style="background:#8B4513;color:#fff">
                    {{ device.device_name }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>
    </div>

    <!-- نوار ناوبری -->
    <div class="nav-bar">
    <button class="nav-item" onclick="setNav(this)" data-section="section-time">
        <i class="ti ti-clock"></i>
        Time
    </button>
    <button class="nav-item" onclick="setNav(this)" data-section="section-device">
        <i class="ti ti-device-laptop"></i>
        Device
    </button>
    <button class="nav-item" onclick="setNav(this)" data-section="section-lock">
        <i class="ti ti-lock"></i>
        Lock
    </button>
    <button class="nav-item active" onclick="setNav(this)" data-section="section-screenshot">
        <i class="ti ti-screenshot"></i>
        Screenshot
    </button>
    <button class="nav-item" onclick="setNav(this)" data-section="section-mobile">
        <i class="ti ti-device-mobile"></i>
        Mobile
    </button>
</div>

    <div class="tabs">
        <button class="tab active" onclick="setTab(this)">search</button>
        <button class="tab" onclick="setTab(this)">Viewed</button>
    </div>

{#    <div class="list">#}
{#        <div id="section-screenshot" class="nav-section">#}
{#            <div id="screenshotsList" style="display:flex; flex-wrap:wrap; gap:8px; padding:12px 16px;">#}
{#        </div>#}
{#            <div id="section-time" class="nav-section" style="display:none">#}
{#                <p style="padding:16px;color:#888">زمان استفاده</p>#}
{#            </div>#}
{#            <div id="section-mobile" class="nav-section" style="display:none">#}
{#                 <p style="padding:16px;color:#888">موبایل</p>#}
{#            </div>#}
{#            <div id="section-mobile" class="nav-section" style="display:none">#}
{#                 <p style="padding:16px;color:#888">موبایل</p>#}
{#            </div>#}
{##}
{#              <div id="section-lock" class="nav-section" style="display:none">#}
{#                    <div id="blockedAppsList" style="padding:12px 16px;"></div>#}
{##}
{#            </div>#}
{##}
{##}
{#    </div>#}
{##}
{#    </div>#}

<div class="list">

    <div id="section-time" class="nav-section" style="display:none">
        <p style="padding:16px;color:#888">زمان استفاده</p>
    </div>

    <div id="section-device" class="nav-section" style="display:none">
        <p style="padding:16px;color:#888">اطلاعات دستگاه</p>
    </div>

    <div id="section-lock" class="nav-section" style="display:none">
        <div id="blockedAppsList" style="padding:12px 16px;"></div>
    </div>

    <div id="section-screenshot" class="nav-section">
        <div id="screenshotsList" style="display:flex;flex-wrap:wrap;gap:8px;padding:12px 16px;"></div>
    </div>

    <div id="section-mobile" class="nav-section" style="display:none">
        <p style="padding:16px;color:#888">موبایل</p>
    </div>

</div>

</div>

{% endblock %}

{% block js %}
    <script>

    const navMap = {
    0: 'section-time',
    1: 'section-device',
    2: 'section-lock',
    3: 'section-screenshot',
    4: 'section-mobile',
};


    function setTab(el) {
        document.querySelectorAll('.tab').forEach(t => t.classList.remove('active'));
        el.classList.add('active');
    }

   function setNav(el) {
    document.querySelectorAll('.nav-item').forEach(n => n.classList.remove('active'));
    el.classList.add('active');

    document.querySelectorAll('.nav-section').forEach(s => s.style.display = 'none');
    document.getElementById(el.dataset.section).style.display = 'block';
     if (el.dataset.section === 'section-lock') {
        loadBlockedApps();
    }

    }


    function updateDevice(select) {
    const deviceId = select.value;

    fetch(`device/${deviceId}/info/`)
        .then(res => res.json())
        .then(data => {
            const container = document.getElementById('screenshotsList');
            container.innerHTML = '';

            if (data.screenshots.length === 0) {
                container.innerHTML = '<p style="color:#888;font-size:13px">اسکرین‌شاتی وجود ندارد</p>';
                return;
            }

            data.screenshots.forEach(s => {
                container.innerHTML += `
                    <div style="width:80px">
                        <img src="/media/${s.image}"
                             style="width:80px;height:80px;object-fit:cover;border-radius:8px;border:1.5px solid #e0e0e0">
                        <p style="font-size:10px;color:#888;margin-top:4px;text-align:center">
                            ${new Date(s.taken_at).toLocaleDateString('fa-IR')}
                        </p>
                    </div>
                `;
            });
        })


}
    function loadBlockedApps() {
    const deviceId = document.getElementById('deviceSelect').value;
    fetch(`/device/${deviceId}/blocked-apps/`)
        .then(res => res.json())
        .then(data => {
            const container = document.getElementById('blockedAppsList');
            container.innerHTML = '';
            if (data.apps.length === 0) {
                container.innerHTML = '<p style="color:#888;font-size:13px">هیچ برنامه‌ای قفل نشده</p>';
                return;
            }
            data.apps.forEach(app => {
                container.innerHTML += `
                    <div style="display:flex;align-items:center;gap:12px;padding:10px 0;border-bottom:0.5px solid #f0f0f0">
                        <div style="width:36px;height:36px;background:#ffecec;border-radius:8px;display:flex;align-items:center;justify-content:center">
                            <i class="ti ti-lock" style="color:#ff6b6b;font-size:18px"></i>
                        </div>
                        <span style="font-size:14px">${app.name}</span>
                    </div>
                `;
            });
        });
}

    </script>
{% endblock %}